#vc-spotify-player {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    border-bottom-color: transparent;
    --vc-spotify-green: var(--accentcolorV2);
}

html.theme-dark #vc-spotify-player {
    background-color: transparent !important;
}

html.theme-light #vc-spotify-player {
    background-color: transparent !important;
}

#vc-spotify-player::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--vc-spotify-track-image);
    background-size: cover;
    background-position: center;
    filter: blur(px);
    opacity: .6;
    z-index: 0;
}

#vc-spotify-info-wrapper {
    height: auto;
}

#vc-spotify-titles {
    padding: 0;
}

#vc-spotify-song-title,
.vc-spotify-artist,
.vc-spotify-album {
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#vc-spotify-song-title {
    font-size: 18px;
    margin-bottom: 4px;
}

.vc-spotify-artist,
.vc-spotify-album {
    font-size: 14px;
}

.vc-spotify-button-row {
    width: fit-content;
    align-self: center;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
    order: 1;
    z-index: 1;
}

#vc-spotify-player:hover .vc-spotify-button-row {
    height: 32px;
}

#vc-spotify-progress-bar {
    order: 2;
    z-index: 1;
}

.vc-spotify-button {
    --interactive-normal: #FFFFFF;
    --interactive-hover: #FFFFFF;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.6));
}

.vc-spotify-button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.vc-spotify-repeat-track,
.vc-spotify-repeat-context,
.vc-spotify-shuffle-on{
    color: rgb(5, 207, 5) !important;
    background-color: rgba(5, 207, 5, 0.1) !important;
}

.vc-spotify-repeat-track:hover,
.vc-spotify-repeat-context:hover,
.vc-spotify-shuffle-on:hover{
    background-color: rgba(5, 207, 5, 0.2) !important;
}

.vc-spotify-progress-time {
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.vc-spotify-button {
    --interactive-normal: #FFFFFF;
    --interactive-hover: #FFFFFF;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.6));
}

#vc-spotify-progress-bar {
    order: 2;
    z-index: 1;
    margin-top: 5px;
    margin-bottom: 7px;
}

#vc-spotify-progress-bar > [class^=slider] [class^=grabber] {
    background-color: white;
    position: relative;
    margin-right: -16px;
    margin-top: -6px;
    width: 15px !important;
    height: 15px !important;
}

.vc-spotify-progress-time {
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
}

/* Transparent album image to preserve onClick functionality */

#vc-spotify-album-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#vc-spotify-info-wrapper {
    position: static
}

#vc-spotify-titles > * {
    z-index: 2;
    max-width: 100%;
    width: auto;
}

/* Handle expanded album image */

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
    position: relative;
    aspect-ratio: 1/1;
}

#vc-spotify-album-expanded-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
}

#vc-spotify-album-expanded-wrapper > #vc-spotify-album-image {
    opacity: 1;
    z-index: 1;
}

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) .vc-spotify-button-row {
    margin-top: auto;
}

/* Re-order elements to put spotify player at the top */

.panels_c48ade {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

#vc-spotify-player {
    order: 1;
}

/* Re-ordering the rest of the elements */

.panel__5dec7 {
    /* Game activity */
    order: 2;
    background-color: transparent !important;
}

.wrapper_e131a9 {
    /* Voice chat controls */
    order: 3;
}

.container_e131a9 {
    /* Voice chat controls */
    background-color: transparent !important;
}

.container__37e49 {
    /* Profile */
    order: 10;
}
