.container__37e49 {
    background: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(10px) !important;
}

.panels_c48ade {
    border-radius: 12px;
    margin: 6px;
}

html.theme-dark .panels_c48ade {
    background: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(10px) !important;
    box-shadow: 0 5px 8px #15171a;
}

html.theme-light .panels_c48ade {
    background: #e4e4e4 !important;
    box-shadow: 0 5px 8px #d6d6d6;
}

.sidebar_c48ade {
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

html.theme-dark .sidebar_c48ade .content__99f8c:after {
    color: rgba(255, 255, 255, 0.03);
    text-shadow: 0 0 15px #000;
}

html.theme-light .sidebar_c48ade .content__99f8c:after {
    color: rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 15px rgb(255, 255, 255);
}

.panels_c48ade > .container__37e49 .flex__7c0ba > :not(:last-child) {
    opacity: 0 !important;
    width: 50px;
    transition: all 0.3s;
}

.panels_c48ade > .container__37e49:hover .flex__7c0ba > :not(:last-child) {
    opacity: 100% !important;
    width: 40px;
    margin-left: 10px;
}

.button__67645[aria-label="User Settings"] {
    margin-left: 10px;
}

.container-6sXIoE .alignStretch_abf706.flex_abf706 {
    max-width: 190px;
    min-width: 190px;
}

.details-ntX2k5 {
    max-width: 805px !important;
    min-width: 805px !important;
}

.maximized-vv2Wr0 .details-ntX2k5 {
    max-width: 190px !important;
    min-width: 190px !important;
    position: relative;
    display: block;
    left: 0;
}

.maximized-vv2Wr0 .cover-SwJ-ck {
    border-radius: 8px 8px 0px 0px;
}

/* Avatar in bottom left */

.avatarWrapper__37e49 {
    /* change those if they don't exactly match your screen */
    max-width: 290px;
    min-width: 290px;
    transition: 0.5s;
}

.avatarWrapper__37e49:hover {
    /* change those if they don't exactly match your screen */
    max-width: 290px;
    min-width: 290px;
    transition: 0.5s;
}
